<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Write Review | Decent Reads</title>
</head>

<body>
    <h1>Write a review for <%= book.title %></h1>

    <form action="/api/books/<%= book.bookId %>/reviews" method="post">
        <label for="rating">Rating</label>
        <input id="rating" name="rating" type="">
        <label for="reviewText">Text</label>
        <input id="reviewText" name="reviewText" type="text">

        <button>Submit</button>
    </form>
</body>

</html>
